<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
</head>
<body>
    <div>Reset Password</div>
    <form method="POST" action="/reset-password-request">
        <div class="flex col aln-center">
            <div><input type="password" name="password"></div>
            <div><input type="password" name="repeatPassword"></div>
            <div><input type="hidden" name="userId" value="<%= userId %>"></div>
            <div><button type="submit">Reset Password</button></div>
        </div>
        
    </form>

    <script src="/js/reset-password.js" type="text/js"></script>
    
</body>

</html>