<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %> Reset Password</title>
</head>
<body>

    <div>Reset Password</div>
    <form method="POST" action="/reset-password-request">
        <div>title = <%= title %></div>
        <input type="password" name="password">
        <input type="password" name="repeatPassword">
        <input type="hidden" name="userId" value="<%= userId %>">
        <button type="submit">Reset Password</button>
    </form>

    <script src="/js/reset-password.js" type="text/js"></script>

</body>
</html>