body{
    background-image: linear-gradient(to left, #13547a, #80d0c7);
}

h1{
    text-align: center;
    font-family: sans-serif;
}

.flex{
    display: flex;
}

.row{
    flex-direction: row;
}

.col{
    flex-direction: column;
}

.center{
    justify-content: center;
}

.aln-center{
    align-items: center;
}

.single-div{
    margin: 1rem;
}

.single-div a{
    text-decoration: none;
    color: darkblue;
}

.single-div input{
    background-color: transparent;
    border: 2px solid black;
    padding: 3px;
}

.single-div button{
    background-color: transparent;
    border: 2px solid black;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}