body{
    background-image: linear-gradient(to left, #13547a, #80d0c7);
}

h1{
    text-align: center;
    font-family: sans-serif;
}

.flex{
    display: flex;
}

.row{
    flex-direction: row;
}

.center{
    justify-content: center;
}
.single-div{
    margin: 1rem;
}

.single-div a{
    text-decoration: none;
    color: darkblue;
}

.single-div input{
    color: transparent;
}